.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.product-card {
  width: 280px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  transition: 0.3s ease;
  text-align: left;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  background-color: #fffaf5; /* soft cream background */
}

.logo-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background-color: #fffaf5; 
}

.logo-image {
  width: 85%;
  height:10%;
  margin-right: 15px;
  display: inline-block;     
  object-fit: contain;      
}


